# Project Brief

**Last derived from MASTER-SPEC.md @ {{ts}}**

## What is this?
{{phase_1.1.1}}

## Project class
{{project_class}}

## Problem
{{phase_1.1.2}}

## Primary users
{{phase_1.2.1}}

## Core use case
{{phase_1.2.2}}

## MVP cut
{{phase_1.3.2}}

## See also
- [MASTER-SPEC §Phase 1](../../MASTER-SPEC.md#phase-1-foundation)
- [Executive Summary](../../MASTER-SPEC.md#executive-summary)
